@font-face {
  font-family: "Special Elite";
  src: url(../fonts/special_elite/SpecialElite.ttf);
}

$white_radial_gradient: radial-gradient(farthest-side at 40% 40%, #E6EBED, #E3E3E3, #D4D7D9);
$white_radial_gradient2: radial-gradient(farthest-side at 20% 40%, #F0F0F0, #E3E3E3, #d9d9d9);
$white_radial_gradient3:radial-gradient(farthest-side at 20% 40%, #E8E8E8, #d9d9d9, #BDBDBD);

body {
  display: none;
  background: #d9d9d9; /* For browsers that do not support gradients */
  background: $white_radial_gradient2;
  height: 100%;
}

html {
  height: 100%;
}

ul.nav {
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
}

.carousel_text {
  background-color: rgba(50, 50, 50, 0.7);
  border: 1px solid grey;
  padding: 5px;
}

.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
  bottom: 10px;
}

.carousel-control {
  position: absolute;
  width: 20px;
  background: transparent;
}

.carousel-control.left, .carousel-control.right {
  background-image: none

}

.text-grey {
  color: grey;
}

.tileBox p {
  background-color: #f0f0f0;
  font-size: 15px;
  color: #777777;
  padding: 10px;
  margin: 0px;
}

#bartitle {
  font-family: 'Special Elite', monospace;
  font-size: 1.4em;
  color: #c0392b;
}



#get-involved {
  background-color: #FCFCFC;
}

#flag {
  width: 20px;
}

footer {
  background-color: #000000;
  padding-top: 50px;
  padding-bottom: 30px;
  position: relative;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  position: absolute;
}

#back-to-top a {
  color: #FFFFFF;
}

.headlogo3 {
  margin-left: auto;
}

.jumbotron {

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background: transparent;
  color: white;
  width: 100%;
  height: 270px;
  margin-bottom: 0px;
}

.jumbobg {
  position: fixed;
  width: 100%;
  height: 200px;
  top: 70px;
  left: 0;
  z-index: -1;
}

.mySvg {
  background: linear-gradient(#A0ACB0, #70858C, #799EAB);
}



.navbar-nav > li > a {
  font-family: 'Special Elite', monospace;
  font-size: 1.2em;
  line-height: 40px;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #777;
}

.modal-content iframe {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.modal-content button.close {
  position: absolute;
  top: 5px;
  right: 25px;
  background-color: white;
  font-size: 28px;
  width: 30px;
  opacity: 1;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: -50px;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 95%;
  height: 80%;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background-image: url('/images/concrete_seamless.png');
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: 5px;
  text-align: center;
  top: 10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  opacity: 1;
}

.modalDialog p {
  text-align: justify;
}

.modalDialog h3 {
  text-align: center;
  font-family: 'Special Elite', monospace;
}

.modal-content {
  width: 90%;
  height: 100%;
  padding: 20px;
  overflow-y: scroll;
}

.homepage {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.homepage h2 {
  font-family: 'Special Elite', monospace;
  color: #000000;
  text-transform: uppercase;
  font-size: 30px;
}

.homepage h3 {
  font-family: 'Special Elite', monospace;
  color: #000000;
  text-transform: capitalize;
  font-size: 20px;
}

.homepage p {
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
}

.homepage a, a:visited {
  color: #c0392b;
}

.homepage a:hover {
  color: #777;
  text-decoration: none;
  opacity: .5;
}

.homepage hr {
  border-top: 1px solid #c0392b;
  width: 214px;
  margin-top: 15px;
}

#example {
  background-color: #F7F7F7;
  height: 400px;
  width: 49%;
  margin-left: 1%;

}

#example2 {
  background-color: #F7F7F7;
  height: 400px;
  width: 48%;
  margin-bottom: 15px;
}

#example2 p {
  padding-top: 50px;
  text-align: justify;
}

#who p {
  text-align: justify;
}

.demo-wrapper {
  width: 300px;
}

.secPad {
  padding: 60px 0;
}

@media (max-width: 767px) {

  .navbar-header {
    height: 72px;
  }

  .navbar-toggle {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .btn-lg {
    font-size: 18px;
  }

  .homepage p {
    font-size: 18px;
  }

  #example {
    width: 100%;
    margin-bottom: 15px;
  }

  #example2 {
    width: 100%;
  }

}

#get-involved .col-md-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.heading
{
  flex-grow:1;
}

#bartitle {
  font-size: 1.2em;
}

.bg-parlex {
  padding-top: 0px;
  background-image: url(../images/header2a.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.parlex-back {
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.10);
  color: #FDFDFD !important;
}

.parlexContents {
  padding: 60px 0;

}



.portfolioContainer {

  background: #d9d9d9; /* For browsers that do not support gradients */
  background: $white_radial_gradient2;
  margin-top: 72px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.whoContainer {
  background: #d9d9d9; /* For browsers that do not support gradients */
  background-image: url('/images/concrete_seamless.png');
  margin-bottom: 0px;
}


#skills {
  background-image: url('/images/concrete_seamless.png');
}

.portfolioCont_mainpage {

  background: #d9d9d9; /* For browsers that do not support gradients */
  background-image: url('/images/concrete_seamless.png');
  width: 100%;
  overflow: hidden;
}

.wieisapContainer {
  background: #d9d9d9; /* For browsers that do not support gradients */
  background-image: url('/images/concrete_seamless.png');
  margin-bottom: 0px;
}

.getInvolved {
  background: #d9d9d9; /* For browsers that do not support gradients */
  background-image: url('/images/concrete_seamless_grey1.png');
}

.leftColumn
{
  background:url('/images/cheap_diagonal_fabric_mirrored.png');
}

.rightColumn
{
  background:url('/images/cheap_diagonal_fabric.png');
}


//.portfolioExample {
//    padding: 30px;
//    width: 100%;
//    height: 100%;
//    min-height: 100%;
//    display: block;
//
//    background: #d9d9d9; /* For browsers that do not support gradients */
//    /*Safari 5.1 to 6.0*/
//    background: -webkit-radial-gradient(40% 40%, farthest-side, #FFFFFF,#E3E3E3 ,#d9d9d9);
//    /* For Opera 11.6 to 12.0 */
//    background: -o-radial-gradient(40% 40%, farthest-side, red,#FFFFFF,#E3E3E3 ,#d9d9d9);
//    /* For Firefox 3.6 to 15 */
//    background: -moz-radial-gradient(40% 40%, farthest-side,#FFFFFF,#E3E3E3 ,#d9d9d9);
//    /* Standard syntax */
//    background: radial-gradient(farthest-side at 20% 40%, #FFFFFF,#E3E3E3 ,#d9d9d9);
//}

.portfolioRow {
  padding-left: 40px;
  padding-right: 40px;
}

.portfolioDiv {
  padding: 0 20px 0 20px;
}

.portfolioContents {

  
  border-radius: 3px;
}

.portfolioContents h3 {
  padding-top: 4px;
}

.portfolioExample h3 {
  text-align: center;
  font-family: 'Special Elite', monospace;
}

.portfolioExample hr {
  border-top: 1px solid #c0392b;
  width: 214px;
  margin-top: 15px;
}


.skillsNewcolummn {

  padding: 0 20px 0 20px;
}

.skillsInnercolumn {
  display:flex;
  flex-direction: column;
  align-items: stretch;
  align-content:stretch;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 4px;

  
  p {
    text-align: left;
    font-weight: lighter;
    color: #737373;
  }
  span {
    color: black;
  }
}

.skillsRow {
  padding: 40px 15px 40px 15px;
  background: #d9d9d9; /* For browsers that do not support gradients */
  background: $white_radial_gradient2;
}

.skillsProgresbar {
  width: 100%;
  color: black;
  font-weight: bold;
  background: rgba(255, 86, 56, 1);
  background: -moz-linear-gradient(top, rgba(255, 86, 56, 1) 0%, rgba(219, 172, 164, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 86, 56, 1)), color-stop(100%, rgba(219, 172, 164, 1)));
  background: -webkit-linear-gradient(top, rgba(255, 86, 56, 1) 0%, rgba(219, 172, 164, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 86, 56, 1) 0%, rgba(219, 172, 164, 1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 86, 56, 1) 0%, rgba(219, 172, 164, 1) 100%);
  background: linear-gradient(to bottom, rgba(142, 166, 173, 1) 0%, rgba(161, 189, 199, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5638', endColorstr='#dbaca4', GradientType=0);

}

.skillsProgresbar2 {
  width: 100%;
  color: black;
  font-weight: bold;
  background: rgba(219, 172, 164, 1);
  background: -moz-linear-gradient(top, rgba(219, 172, 164, 1) 0%, rgba(255, 86, 56, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(219, 172, 164, 1)), color-stop(100%, rgba(255, 86, 56, 1)));
  background: -webkit-linear-gradient(top, rgba(219, 172, 164, 1) 0%, rgba(255, 86, 56, 1) 100%);
  background: -o-linear-gradient(top, rgba(219, 172, 164, 1) 0%, rgba(255, 86, 56, 1) 100%);
  background: -ms-linear-gradient(top, rgba(219, 172, 164, 1) 0%, rgba(255, 86, 56, 1) 100%);
  background: linear-gradient(to bottom, rgba(161, 189, 199, 1) 0%, rgba(142, 166, 173, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbaca4', endColorstr='#ff5638', GradientType=0);
}



.whoDiv {
  padding: 0 20px 0 20px;
}

.whoContents {
  border-radius: 2px;
  padding: 20px;
  background: snow;
}





#introtext {
  width: 100%;
}

#example {
  width: 100%;
  margin-bottom: 15px;
}

#example2 {
  width: 100%;
}

@media (min-width: 1200px) {
  #example, #example2 {
    margin-bottom: 15px;
  }

}

.youtubeLink {
  float: none;
  margin-left: auto;
}

.navbar-right {
  padding-right: 20px;
}

.carousel_text {
  background-color: rgba(50, 50, 50, 0.7);
  border: 1px solid grey;
  padding: 5px;
}

.carousel-caption {
  position: relative;
  left: auto;
  right: auto;
  bottom: 10px;
}

.rounded_frame
{
  position:relative;
  border-radius: 10px;
  background:$white_radial_gradient2;
  color:black;
  font-style: bold;
  border: 1px solid white;
  opacity : 0.9;
  padding: 5px 5px 5px 5px ;
  z-index: 2;
}
