
@font-face {
    font-family: "Special Elite";
    src: url(../fonts/special_elite/SpecialElite.ttf);
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    background: #d9d9d9; /* For browsers that do not support gradients */
    /* Safari 5.1 to 6.0 */
    background: -webkit-radial-gradient(40% 40%, farthest-side, #FAFAFA,#E8E8E8 ,#d9d9d9);
    /* For Opera 11.6 to 12.0 */
    background: -o-radial-gradient(40% 40%, farthest-side, red,#FAFAFA,#E8E8E8 ,#d9d9d9);
    /* For Firefox 3.6 to 15 */
    background: -moz-radial-gradient(40% 40%, farthest-side,#FAFAFA,#E8E8E8 ,#d9d9d9);
    /* Standard syntax */
    /*background: radial-gradient(farthest-side at 75% 75%, #FAFAFA,#919B9C  ,#d9d9d9);*/
    background: radial-gradient(farthest-side at 20% 40%, #FFFFFF,#E3E3E3 ,#d9d9d9);
}

ul.nav {
    font-family: 'Lato', sans-serif;
}

ul.nav {
    font-size: 13px;
}

/* Modal */

.carousel_text {
    background-color: rgba(50, 50, 50, 0.7);
    border: 1px solid grey;
    padding: 5px;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}

.carousel-control {
    position: absolute;
    width: 20px;
    bottom: 40%;
    background: transparent;
}

.carousel-control.left, .carousel-control.right {
    background-image: none

}

.text-grey {
    color: grey;
}

.tileBox p{
    background-color: #f0f0f0;
    font-size: 15px;
    color: #777777;
    padding: 10px;
    margin: 0px;
}


#bartitle {
    font-family: 'Special Elite', monospace;
    font-size: 1.4em;
    color: #c0392b;
    /* margin-left: -100px; */

}




#skills {
    background-color: #FCFCFC;
}

#get-involved {
    background-color: #FCFCFC;
}

footer {
    background-color: #000000;
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    position: absolute;
}

#back-to-top a {
    color: #FFFFFF;
}

.jumbotron {
    text-align: center;
    background-image: url('../images/header2.jpg');
    text-align: center;
    color: white;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0px;

}

.navbar-nav > li > a {
    font-family: 'Special Elite', monospace;
    font-size: 1.2em;
    line-height: 40px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #777;
}

.modal-content iframe {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.modal-content button.close {
    position: absolute;
    top: 5px;
    right: 25px;
    background-color: white;
    font-size: 28px;
    width: 30px;
    opacity: 1;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: -50px;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 85%;
    height: 80%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    opacity: 1;
}



.modalDialog p {
    text-align: justify;
}

.modalDialog h3 {
    text-align: center;
    font-family: 'Special Elite', monospace;
}


.modal-content {
    width: 90%;
    height: 100%;
    padding: 20px;
    overflow-y: scroll;
}

.homepage {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.homepage h2 {
    font-family: 'Special Elite', monospace;
    color: #000000;
    text-transform: uppercase;
    font-size: 30px;
}

.homepage h3 {
    font-family: 'Special Elite', monospace;
    color: #000000;
    text-transform: capitalize;
    font-size: 20px;
}

.homepage p {
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
}

.homepage a, a:active, a:visited {
    color: #c0392b;
}

.homepage a:hover {
    color: #777;
    text-decoration: none;
    opacity: .5;
}

.homepage hr {
    border-top: 1px solid #c0392b;
    width: 214px;
    margin-top: 15px;
}

#menu img {
    margin-top: -5px;
}

#treatments ul, #price ul {
    list-style-position: inside;
}

#price strong {
    color: #84CC1D;
}

.container img {
    width: 85%;
}


#example {
    background-color: #F7F7F7;
    height: 400px;
    width: 49%;
    margin-left: 1%;

}

#example2 {
    background-color: #F7F7F7;
    height: 400px;
    width: 48%;
    margin-bottom: 15px;
}

#example2 p {
    padding-top: 50px;
    text-align: justify;
}

#who p {
    text-align: justify;
}

.demo-wrapper {
    width: 300px;
}

/* Progress bar start */

progress {
    color: #c0392b;
    font-size: .6em;
    line-height: 1.5em;
    text-indent: .5em;
    width: 15em;
    height: 1.8em;
    /*border: 1px solid #c0392b;*/
    background: #fff;
    border-radius: 9px;
    border: 0;
    width: 25%;
    height: 18px;
}

progress::-moz-progress-bar {
    background: #c0392b;
    border-radius: 9px;
}

progress::-webkit-progress-bar {
    background: #fff;
    border-radius: 9px;
}

progress::-webkit-progress-value {
    background: #c0392b;
    border-radius: 9px;

}

.progress-value {
    padding: 0px 5px;
    line-height: 20px;
    margin-left: 5px;
    font-size: .8em;
    color: #555;
    height: 18px;
}

/* Progress bar end */

.secPad{
    padding:60px 0;
}


.work-callout_with-border {
    border-style: solid;
    border-color: white;
    border-width: 1em 1em 0 1em;
}

.work-callout {
    background-color: #bdeef4;
    color: #1c4c54;
}

.work-callout--content {
    position: relative;
    background-color: #e5fcfe;
    padding: 4%;
    display: table-cell;
    width: 26em;
    margin-top: 0;
}

.work-callout {
    background-color: #bdeef4;
    color: #1c4c54;
}

.work-callout--title {
    margin: 0;
    padding: 1em 0.5em;
    font-size: 1em;
}

.work-callout--media {
    text-align: center;
    overflow: hidden;
}

.button_inline, .foundry-article--content .the-link {
    display: inline-block;
}

.button_standard, .foundry-article--content .the-link {
    color: #a5ebe9;
    background-color: #4cacbe;
}

.work-callout--subtitle {
    margin: 0;
    font-size: 0.8em;
    color: #3ea9be;
    text-transform: uppercase;
}

.work-callout--image-wrapper {
    max-width: 85%;
    margin: 0 auto;
    line-height: 0;
}

.work-callout--button-wrapper {
    padding-top: 1em;
}

/* Reponsive Styling */

@media (max-width: 767px) {

    .container img {
        width: 30%;
        height: 30%;
        float: none;
        margin-left: 0px;
        margin-bottom: 15px;
    }

    .btn-lg {
        font-size: 18px;
    }

    .homepage p {
        font-size: 18px;
    }

    #example {
        width: 100%;
        margin-bottom: 15px;
    }

    #example2 {
        width: 100%;
    }

}

#get-involved .col-md-4 {
    padding-top: 20px;
    padding-bottom: 20px;
}

#bartitle {
    font-size: 1.2em;
}


.bg-parlex {
    padding-top: 0px;
    background-image: url('../images/header.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.parlex-back {
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0.20);
    color: #FDFDFD !important;
}

.parlexContents
{
    padding:60px 0;

}

.portfolioContainer
{

    background: #d9d9d9; /* For browsers that do not support gradients */
    /* Safari 5.1 to 6.0 */
    background: -webkit-radial-gradient(40% 40%, farthest-side, #FAFAFA,#E8E8E8 ,#d9d9d9);
    /* For Opera 11.6 to 12.0 */
    background: -o-radial-gradient(40% 40%, farthest-side, red,#FAFAFA,#E8E8E8 ,#d9d9d9);
    /* For Firefox 3.6 to 15 */
    background: -moz-radial-gradient(40% 40%, farthest-side,#FAFAFA,#E8E8E8 ,#d9d9d9);
    /* Standard syntax */
    /*background: radial-gradient(farthest-side at 75% 75%, #FAFAFA,#919B9C  ,#d9d9d9);*/
    background: radial-gradient(farthest-side at 20% 40%, #FFFFFF,#E3E3E3 ,#d9d9d9);

    padding-top:20px;
    padding-bottom:30px;
}



.portfolioRow
{
    padding-left:40px;
    padding-right:40px;
}

.portfolioDiv
{
    padding: 0 20px 0 20px ;
}

.portfolioDivleft
{
    padding: 0 20px 0 20px ;
    background: red;
}
.portfolioDivright
{
    padding: 0 20px 0 20px ;
    background: green;
}



.portfolioContents
{

    /*background: radial-gradient(farthest-side at 75% 75%, #FAFAFA,#919B9C  ,#d9d9d9);*/
    background: #d9d9d9; /* For browsers that do not support gradients */
    /* Safari 5.1 to 6.0 */
    background: -webkit-radial-gradient(40% 40%, farthest-side, #FAFAFA,#E8E8E8 ,#d9d9d9);
    /* For Opera 11.6 to 12.0 */
    background: -o-radial-gradient(40% 40%, farthest-side, red,#FAFAFA,#E8E8E8 ,#d9d9d9);
    /* For Firefox 3.6 to 15 */
    background: -moz-radial-gradient(40% 40%, farthest-side,#FAFAFA,#E8E8E8 ,#d9d9d9);
    /* Standard syntax */
    /*background: radial-gradient(farthest-side at 75% 75%, #FAFAFA,#919B9C  ,#d9d9d9);*/
    background: radial-gradient(farthest-side at 40% 40%, #d9d9d9,#ABB2B3 ,#919B9C);
    border-radius:3px;
}
.portfolioContents h3
{
    padding-top:4px;
}



.skillsNewcolummn
{
    padding:0 20px 0 20px;
}

.skillsInnercolumn
{
    padding:40px;
    border-radius: 3px;
    background: #d9d9d9; /* For browsers that do not support gradients */
    /* Safari 5.1 to 6.0 */
    background: -webkit-radial-gradient(40% 40%, farthest-side, #FAFAFA,#E8E8E8 ,#d9d9d9);
    /* For Opera 11.6 to 12.0 */
    background: -o-radial-gradient(40% 40%, farthest-side, red,#FAFAFA,#E8E8E8 ,#d9d9d9);
    /* For Firefox 3.6 to 15 */
    background: -moz-radial-gradient(40% 40%, farthest-side,#FAFAFA,#E8E8E8 ,#d9d9d9);
    /* Standard syntax */
    /*background: radial-gradient(farthest-side at 75% 75%, #FAFAFA,#919B9C  ,#d9d9d9);*/
    background: radial-gradient(farthest-side at 20% 40%, #FFFFFF,#E3E3E3 ,#d9d9d9);
}

.skillsInnercolumn p
{
    text-align: left;
    font-weight: lighter;
    color:#737373;
}

.skillsInnercolumn span
{
    color:black;
}

.skillsRow
{
    padding:40px 15px 40px 15px;
    background: #d9d9d9; /* For browsers that do not support gradients */
    /* Safari 5.1 to 6.0 */
    background: -webkit-radial-gradient(40% 40%, farthest-side, #FAFAFA,#E8E8E8 ,#d9d9d9);
    /* For Opera 11.6 to 12.0 */
    background: -o-radial-gradient(40% 40%, farthest-side, red,#FAFAFA,#E8E8E8 ,#d9d9d9);
    /* For Firefox 3.6 to 15 */
    background: -moz-radial-gradient(40% 40%, farthest-side,#FAFAFA,#E8E8E8 ,#d9d9d9);
    /* Standard syntax */
    /*background: radial-gradient(farthest-side at 75% 75%, #FAFAFA,#919B9C  ,#d9d9d9);*/
    background: radial-gradient(farthest-side at 20% 40%, #FFFFFF,#E3E3E3 ,#d9d9d9);
}


.skillsProgresbar
{
    width:100%;
    color: black;
    font-weight: bold;
    background: rgba(255,86,56,1);
    background: -moz-linear-gradient(top, rgba(255,86,56,1) 0%, rgba(219,172,164,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,86,56,1)), color-stop(100%, rgba(219,172,164,1)));
    background: -webkit-linear-gradient(top, rgba(255,86,56,1) 0%, rgba(219,172,164,1) 100%);
    background: -o-linear-gradient(top, rgba(255,86,56,1) 0%, rgba(219,172,164,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,86,56,1) 0%, rgba(219,172,164,1) 100%);
    background: linear-gradient(to bottom, rgba(255,86,56,1) 0%, rgba(219,172,164,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5638', endColorstr='#dbaca4', GradientType=0 );

}


.skillsProgresbar2
{
    width:100%;
    color: black;
    font-weight: bold;
    background: rgba(219,172,164,1);
    background: -moz-linear-gradient(top, rgba(219,172,164,1) 0%, rgba(255,86,56,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(219,172,164,1)), color-stop(100%, rgba(255,86,56,1)));
    background: -webkit-linear-gradient(top, rgba(219,172,164,1) 0%, rgba(255,86,56,1) 100%);
    background: -o-linear-gradient(top, rgba(219,172,164,1) 0%, rgba(255,86,56,1) 100%);
    background: -ms-linear-gradient(top, rgba(219,172,164,1) 0%, rgba(255,86,56,1) 100%);
    background: linear-gradient(to bottom, rgba(219,172,164,1) 0%, rgba(255,86,56,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbaca4', endColorstr='#ff5638', GradientType=0 );
}



.whoContainer
{
    background: #d9d9d9; /* For browsers that do not support gradients */
    /* Safari 5.1 to 6.0 */
    background: -webkit-radial-gradient(40% 40%, farthest-side, #FAFAFA,#E8E8E8 ,#d9d9d9);
    /* For Opera 11.6 to 12.0 */
    background: -o-radial-gradient(40% 40%, farthest-side, red,#FAFAFA,#E8E8E8 ,#d9d9d9);
    /* For Firefox 3.6 to 15 */
    background: -moz-radial-gradient(40% 40%, farthest-side,#FAFAFA,#E8E8E8 ,#d9d9d9);
    /* Standard syntax */
    /*background: radial-gradient(farthest-side at 75% 75%, #FAFAFA,#919B9C  ,#d9d9d9);*/
    background: radial-gradient(farthest-side at 20% 40%, #FFFFFF,#E3E3E3 ,#d9d9d9);
    margin-bottom: 0px;
}

.whoDiv{
    padding: 0 20px 0 20px;
}

.whoContents
{
    border-radius: 2px;
    padding:20px;
    background:snow;
}

.wieisapContainer
{
    background: #d9d9d9; /* For browsers that do not support gradients */
    /* Safari 5.1 to 6.0 */
    background: -webkit-radial-gradient(40% 40%, farthest-side, #FAFAFA,#E8E8E8 ,#d9d9d9);
    /* For Opera 11.6 to 12.0 */
    background: -o-radial-gradient(40% 40%, farthest-side, red,#FAFAFA,#E8E8E8 ,#d9d9d9);
    /* For Firefox 3.6 to 15 */
    background: -moz-radial-gradient(40% 40%, farthest-side,#FAFAFA,#E8E8E8 ,#d9d9d9);
    /* Standard syntax */
    /*background: radial-gradient(farthest-side at 75% 75%, #FAFAFA,#919B9C  ,#d9d9d9);*/
    background: radial-gradient(farthest-side at 40% 40%, #E8E8E8 ,#d9d9d9,#BDBDBD);
    margin-bottom: 0px;
}

.getInvolved
{
    background: #d9d9d9; /* For browsers that do not support gradients */
    /* Safari 5.1 to 6.0 */
    background: -webkit-radial-gradient(40% 40%, farthest-side, #FAFAFA,#E8E8E8 ,#d9d9d9);
    /* For Opera 11.6 to 12.0 */
    background: -o-radial-gradient(40% 40%, farthest-side, red,#FAFAFA,#E8E8E8 ,#d9d9d9);
    /* For Firefox 3.6 to 15 */
    background: -moz-radial-gradient(40% 40%, farthest-side,#FAFAFA,#E8E8E8 ,#d9d9d9);
    /* Standard syntax */
    /*background: radial-gradient(farthest-side at 75% 75%, #FAFAFA,#919B9C  ,#d9d9d9);*/
    background: radial-gradient(farthest-side at 20% 40%, #FFFFFF,#E3E3E3 ,#d9d9d9);
}




.container img {
    width: 60%;
    height: 60%;
    float: none;
    margin-left: 0px;
    margin-bottom: 15px;
}

#introtext {
    width: 100%;
}

#example {
    width: 100%;
    margin-bottom: 15px;
}

#example2 {
    width: 100%;
}


@media (min-width: 1200px) {
    #example, #example2 {
        margin-bottom: 15px;
    }

}

#menu img {
    padding-top: 15px
}